<!DOCTYPE html>
<html>
<head lang="en">
    <meta charset="UTF-8">
    <title>{{ title }}</title>
    <link rel="stylesheet" href="..//css/commons.css" />

</head>
<body>
<div class="pg-header">
    <div class="w">
        <a class="logo" href="/"></a>
        <div class="act-menu">
            <a href="/all/hot/recent/1" class="tb active">全部</a>
            <a href="/all/hot/recent/1" class="tb">42区</a>
            <a href="/all/hot/recent/1" class="tb">段子</a>
            <a href="/all/hot/recent/1" class="tb">图片</a>
            <a href="/all/hot/recent/1" class="tb">挨踢1024</a>
            <a href="/all/hot/recent/1" class="tb">你问我答</a>
        </div>
        <div class="key-sera">

            <form action="/search/show" method="post" name="searchFrm2" id="searchFrm2">
                <input type="text" class="search-txt-s" name="words" id="txtSearch2" autocomplete="off">

                <a href="javascript:;" class="i" name="searchBtn_2" id="searchBtn_3"><span class="ico"></span></a>
                <input type="hidden" value="1" id="page" name="page">
            </form>

        </div>

        <div class="action-nav">
            <a href="/show/flow/1" style="float:left;position:relative;" id="btnDtaiShw">动态
                <b class="notice-num-title" id="Dtai-num-title" style="right: 3px; display: none;">
                    <em id="Dtai-em"></em>
                </b>
            </a>
            <a href="javascript:;" id="btnNotShw" class="notice-box">通知
                <b class="notice-num-title" id="notice-num-title" style="display: none;">
                    <em id="notice-em"></em>
                    <i>+</i>
                </b>
            </a>
            <a href="/user/link/saved/1" id="loginUserNc" class="userPro-Box">
                <img src="http://img2.chouti.com/CHOUTI_05B313F703D34646848BCC5571510683_W148H148=30x30).jpg" id="userProImg">
                <span class="u-nick" id="userProNick">一米八大高...</span>
                <em id="userProArr"></em>
            </a>
        </div>
        <div class="user-opr-box" id="userOprBox" style="left: 869px; display: none;">
            <a href="/user/link/saved/1" style="border-top:0;">我的新热榜</a>
            <a href="/profile">设置</a>
            <a class="logout" href="javascript:;">退出</a>
            <a href="http://www.chouti.com/cdu_45792645155" target="_blank" class="ie6-a">我的收藏</a>
        </div>
    </div>
</div>

<div class="pg-body">

    <div style="background-color: #eee;">
        <div class="w body-content">
            <div class="clearfix">
                <div class="content-l" >
                    <div class="nav-top-area">
                        <div class="child-nav">
                            <!-- 当不是全部页面时 -->
                            <a href="/r/pic/hot/1" hidefocus="false" class="icons active hotbtn" id="hotts-nav-btn">最热</a>
                            <a href="/r/pic/new/1" hidefocus="false" class="newbtn" id="newest-nav-btn">最新</a>
                            <!-- 当是全部页面时 -->
                        </div>
                        <!-- 当是全部页面时 -->
                        <a href="javascript:void(0);" class="publish-btn" id="publishBtn" lang="pic">
                            <span class="ico n1"></span><span class="n2">发布</span>
                        </a>



                    </div>


                    <div class="content-list" id="content_list">
                        <div class="item">

                            <div class="timeIntoPool">1458285240218000,1458288835879000</div>

                            <div class="news-pic">
                                <img lang="8118680" original="http://img2.chouti.com/CHOUTI_18A9ECD30D9044D8872301BDC8FD4460_W265H265=C60x60.jpg" src="http://img2.chouti.com/CHOUTI_18A9ECD30D9044D8872301BDC8FD4460_W265H265=C60x60.jpg" alt="抽屉新热榜" style="display: inline;">
                            </div>

                            <div class="null-item"></div>

                            <div class="news-content" id="newsContent8118680">
                                <div class="part1">
                                    <a href="http://wallstreetcn.com/node/232597" class="show-content" target="_blank" onmousedown="linksClickStat(8118680);">进入调整期？深圳二手房成交较年初锐减30%</a>
                                    <span class="content-source">-wallstreetcn.com</span>
                                    <!-- 段子和谣言类别不显示类别名称 -->
                                    <a href="/r/news/hot/1" class="n2"><span class="content-kind">42区</span></a>
                                    <!-- 来源手机客户端 -->
                                    <!-- 显示话题标签 -->
                                </div>
                                <!-- 显示摘要 -->
                                <div class="area-summary">
                                    <span class="summary">多家中介数据显示，深圳3月二手房成交量比1月下降超过30%，新房成交量同样出现下降。分析称，政策收紧预期较大程度上影响了市场成交，而业主方多看好后市，双方存在一定博弈。预计4月评估价调整政策落地后，二手房市场或进入短暂调整期。</span>
                                </div>
                                <div class="part2" share-pic="http://img2.chouti.com/CHOUTI_AD764B84163A4A8093C2BF54CEAA4AAB_W400H266.jpg" share-title="进入调整期？深圳二手房成交较年初锐减30%" share-summary="多家中介数据显示，深圳3月二手房成交量比1月下降超过30%，新房成交量同样出现下降。分析称，政策收紧预期较大程度上影响了市场成交，而业主方多看好后市，双方存在一定博弈。预计4月评估价调整政策落地后，二手房市场或进入短暂调整期。" share-linkid="8118680" share-subject="42区">
                                    <a href="javascript:;" class="digg-a" title="推荐"><span class="hand-icon icon-digg"></span><b>7</b><i style="display:none">8118680</i></a>
                                    <a href="javascript:;" class="discus-a" id="discus-a-8118680" lang="8118680" title=""><span class="hand-icon icon-discus"></span><b>4</b></a>
                                    <a href="javascript:;" class="collect-a" id="collect-a-8118680" lang="8118680" title="加入私藏" destjid="cdu_45792645155" jid="chouti150326"><span class="hand-icon icon-collect"></span><b>私藏</b></a>
                                    <a href="/user/chouti150326/submitted/1" class="user-a"><span><img src="http://img2.chouti.com/group11/M00/07/D0/wKgCPlUvbAWP7voYAAAZHLh58GA463=15x15.jpg"></span><b>wallstreetcn</b></a>
                                    <span class="left time-into"><a class="time-a" href="/link/8118680" target="_blank"><b>1小时18分钟前</b></a><i>入热榜</i></span>
                                    <!-- 分享各微博的按钮 -->

                                    <span class="share-site-to" style="visibility: hidden;"><i>分享到</i><span class="share-icon"><a class="icon-sina" id="icon-sina" title="分享到新浪微博" href="javascript:;" hidefocus="true"></a><a class="icon-douban" id="icon-douban" title="分享到豆瓣" href="javascript:;" hidefocus="true"></a><a class="icon-qqzone" id="icon-qqzone" title="分享到QQ空间" href="javascript:;" hidefocus="true"></a><a class="icon-tenxun" id="icon-tenxun" title="分享到腾讯微博" href="javascript:;" hidefocus="true"></a><a class="icon-renren" id="icon-renren" title="分享到人人网" href="javascript:;" hidefocus="true"></a><a class="share-none"> </a></span></span></div>
                                <!-- 评论区域 -->
                                <div class="comment-box-area" id="comment-box-area-8118680">
                                    <div class="pinglun arrow" id="comt-arrow-8118680"></div>
                                    <a class="pinglun close-comt" title="关闭" href="javascript:;" lang="8118680"></a>
                                    <div class="corner comment-box clearfix" id="comment-box-8118680">

                                        <div class="loading-ico loading-ico-top" id="loading-comment-top-8118680" style="margin-left:230px;">加载中，请稍候...</div>
                                        <div class="comment-box-top" id="comment-box-top-8118680">
                                            <div class="tip-1">最热评论(<span id="newestCount-8118680">3</span>)</div>
                                            <div class="tip-2"><a href="/link/8118680" target="_blank"><em class="pinglun em1"></em><span>去评论页面</span></a></div>
                                        </div>
                                        <!-- 评论树形 -->
                                        <ul class="filetree comment-list-top-2 treeview" id="comment-list-top-8118680">
                                            <li class="items">
                                            <span class="folder" style="background: none;">
                                                <div class="comment-L comment-L-top">
                                                    <a href="#" class="icons zhan-ico"></a>
                                                    <a href="/user/moyujian/submitted/1">
                                                        <img src="http://img2.chouti.com/group11/M03/08/A7/wKgCPVT3FeCN05--AAAdJh9QxI8107=37x37.jpg">
                                                    </a>
                                                </div>
                                                <div class="comment-R comment-R-top" style="background-color: rgb(246, 246, 246);">
                                                    <div class="pp">
                                                        <a class="name" href="/user/moyujian/submitted/1">代王派我来巡山</a>
                                                        <span class="p3">现在撸羊毛那个欢快，到时崩盘给你看</span>
                                                        <span class="into-time into-time-top">2小时46分钟前发布</span>
                                                        <span class="into-time s-phone">
                                                            来自
                                                            <a class="phone-name" href="http://dig.chouti.com/download/model/andorid" target="_blank">Android</a></span>
                                                    </div>
                                                    <div class="comment-line-top">
                                                        <div class="comment-state">
                                                            <a class="ding" lang="8118680" href="javascript:;">
                                                                <b>顶</b>
                                                                <span class="ding-num">[3]</span>
                                                            </a>
                                                            <a class="cai" lang="8118680" href="javascript:;">
                                                                <b>踩</b>
                                                                <span class="cai-num">[0]</span>
                                                            </a>
                                                            <span class="line-huifu">|</span>
                                                            <a class="see-a jubao" href="javascript:;" lang="11229480" linkid="8118680">举报</a>
                                                            <span class="line-huifu">|</span>
                                                            <a class="see-a huifu-a" href="javascript:;" id="huifuBtn11229480" lang="11229480" usernick="代王派我来巡山" linkid="8118680">回复</a>
                                                            <input type="hidden" id="hid11229480" value="11229480">
                                                        </div>
                                                    </div>
                                                </div>
                                            </span>
                                            </li>
                                            <li class="items">
                                            <span class="folder" style="background: none;">
                                                <div class="comment-L comment-L-top">
                                                    <a href="#" class="icons zhan-ico"></a>
                                                    <a href="/user/moyujian/submitted/1">
                                                        <img src="http://img2.chouti.com/group11/M03/08/A7/wKgCPVT3FeCN05--AAAdJh9QxI8107=37x37.jpg">
                                                    </a>
                                                </div>
                                                <div class="comment-R comment-R-top" style="background-color: rgb(246, 246, 246);">
                                                    <div class="pp">
                                                        <a class="name" href="/user/moyujian/submitted/1">代王派我来巡山</a>
                                                        <span class="p3">现在撸羊毛那个欢快，到时崩盘给你看</span>
                                                        <span class="into-time into-time-top">2小时46分钟前发布</span>
                                                        <span class="into-time s-phone">
                                                            来自
                                                            <a class="phone-name" href="http://dig.chouti.com/download/model/andorid" target="_blank">Android</a></span>
                                                    </div>
                                                    <div class="comment-line-top">
                                                        <div class="comment-state">
                                                            <a class="ding" lang="8118680" href="javascript:;">
                                                                <b>顶</b>
                                                                <span class="ding-num">[3]</span>
                                                            </a>
                                                            <a class="cai" lang="8118680" href="javascript:;">
                                                                <b>踩</b>
                                                                <span class="cai-num">[0]</span>
                                                            </a>
                                                            <span class="line-huifu">|</span>
                                                            <a class="see-a jubao" href="javascript:;" lang="11229480" linkid="8118680">举报</a>
                                                            <span class="line-huifu">|</span>
                                                            <a class="see-a huifu-a" href="javascript:;" id="huifuBtn11229480" lang="11229480" usernick="代王派我来巡山" linkid="8118680">回复</a>
                                                            <input type="hidden" id="hid11229480" value="11229480">
                                                        </div>
                                                    </div>
                                                </div>
                                            </span>
                                            </li>


                                        </ul>

                                        <!-- 谣言类别显示相信还是置疑选项 -->

                                        <!-- 判断该新闻评论是否关闭 -->

                                        <!-- 评论输入框和回复框 -->
                                        <div class="huifu-top-box" id="huifu-top-box-8118680">
                                            <div class="box-l txt-input-area-div-top corner no-corner-bottom">
                                                <div id="lab-comment-top-8118680" class="lab-comment-top">回复  <span id="nick--8118680"></span>:</div>
                                                <!-- 针对谣言文本输入框无效 -->
                                                <textarea lang="8118680" maxlength="150" name="txt-huifu-top" id="txt-huifu-top-8118680" class="txt-huifu txt-huifu-top"></textarea>
                                            </div>
                                            <div class="box-r">
                                                <a id="pub-btn-top-8118680" lang="8118680" href="javascript:;" class="pub-icons add-pub-btn add-pub-btn-unvalid">评论</a>
                                                <a id="pub-loading-top-8118680" href="javascript:;" class="loading-ico loading-ico-top pub-loading-top">发布中...</a>
                                            </div>
                                        </div>
                                        <div class="tip-3" id="hidden-comt-8118680">
                                            <a href="javascript:;" class="hiddenCom-Btn" lang="8118680"><em class="pinglun em2"></em><span>收起</span></a>
                                        </div>

                                    </div>

                                </div>


                            </div>

                        </div>
                    </div>
                </div>
                <div class="content-r">

                </div>
            </div>
        </div>
    </div>

</div>
<h1>{{ STATIC_URL }}</h1>

<script src="{{ STATIC_URL }}/js/jquery-2.1.4.min.js"></script>
{% block javascript %} {% endblock %}
<script>
    $(function(){
        $('#loginUserNc,#userOprBox').mouseover(function(){
            $('#userOprBox').css('display', 'block');
            $('#loginUserNc').addClass('active');
        }).mouseout(function () {
            $('#userOprBox').css('display', 'none');
            $('#loginUserNc').removeClass('active');
        })
    })
</script>
</body>
</html>